
header {
    width: 100%;
    transition: 0.5s;
    .header-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 23px 0;
        &_logo {
            width: 257px;
            height: 56px;
        }
        &_btn {
            width: 22px;
            height: 22px;
        }
    }
    .header-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 23px 0;
        animation-name: moveLeft;
        animation-duration: 0.3s;
        input {
            width: 90%;
            padding: 20px;
            border: none;
            border-left: 2px solid #C4C4C4;
            outline: none;
        }
        a {
            width: 23px;
            height: 21px;
        }
    }
}

// mobil-------------

@keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @media only screen and (max-width: 550px) {
    header {
        .header-main {
            margin: 15px 0;
            &_logo {
                width: 140px;
                height: 33px;
            }
            &_btn {
                width: 18px;
                height: 18px;
            }
        }
        .header-search {
            margin: 15px 0;
            input {
                width: 90%;
                padding: 7px;
                font-size: 12px;
            }
            a {
                width: 18px;
                height: 15px;
            }
        }
    }
}